@require 'prettyprint.styl';
@require 'FontBebasNeue.styl';

body
    font-family 'Lato', sans-serif, Arial
    font-size 16px
    color color-black
    text-rendering optimizeLegibility
    font-smoothing antialiased
    font-size inherit
    font-size 100%
    -webkit-tap-highlight-color: rgba(0,0,0,0);

a
    text-decoration none
ul
    padding 0
img
    border none
    vertical-align bottom
    max-width 100%

button
a
input
    outline 0

.Lecture
  max-width 1065px
  margin 0 auto
  &-content
    padding 25px 45px
    margin 0 auto
    font-weight 300
    line-height 30px
    font-size 18px
    // max-width 620px
    margin 0 auto
    word-break break-word
    h2
    h3
    h4
    h5
    h6
      font-weight bold
      font-size 22px
      color #333333
      margin-bottom 10px
      //margin-left -50px
    strong
      font-weight 600
    a
      color #058ecd
      text-decoration none
      font-weight 600
      border-bottom 1px solid celeste
    img
      max-width 100%


@media screen and (max-width : 767px)
  .Lecture
    &-content
      padding 11px 15px
    &-content
      h2
      h3
      h4
      h5
      h6
        margin-left 0
